<!doctype html>
<html>
  <head>
    <title>Traffic light</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>
        var socket = io(); // init connection

        socket.on('light_switched', function(data) {
          console.log("light_switched "+data["data"]);
        });

        socket.on('button_pressed', function(data) {
          console.log("button_pressed "+data["data"]);
        });
    </script>

  </head>

  <body style="text-align: center;">
    <br />
    <img style="height: 500px;" src="{{ url_for('static', filename='traffic-lights.jpg') }}">
    <h3 style="display: none;">Button pressed</h3>
  </body>
</html>