<!doctype html>
<html>
  <head>
    <title>Traffic light</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>
        var socket = io(); // init connection

        /* RECEIVE Message */
        socket.on('light_switched', function(data) {
          console.log("light_switched");
        });

        socket.on('button_pressed', function(data) {
          console.log("button_pressed");
        });
    </script>

  </head>

  <body>
    <h1>Traffic Lights</h1>
  <button onclick="notify_clicked();">Send message to server</button>

  </body>
</html>